* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#staff {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;

}
#items {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
header {

}
.navbar {
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), rgba(133, 133, 0, 0.4));
    font-family: "Samsung Sans", serif;
    font-weight: bold;
}