* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    background-color: #212529;

}*/
#staff {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;

}
#items {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
header {

}
.navbar {
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), rgba(133, 133, 0, 0.4));
    font-family: "Samsung Sans", serif;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.full-width {
    grid-column: 1 / span 3; /* Spans all 3 columns */
}

     /* Custom CSS for specific styling */
 .dashboard-header {
     text-align: center;
     padding: 20px;
     background-color: #007bff;
     color: white;
 }
.sales-stats, .order-list, .menu, .staff {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

